@model IEnumerable<Assignment3.Models.Course>

@{
    ViewData["Title"] = "Department Page";
}
<!--
    Author:    [Austin Stephens]
    Partner:   [None]
    Date:      [08/26/2019]
    Course:    CS 4540, University of Utah, School of Computing
    Copyright: CS 4540 and [Austin Stephens] - This work may not be copied for use in Academic Coursework.


    I, Austin Stephens, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

    A website used for the manager of a professor who needs to keep track of multiple professors work and updates.
    Contains links, photos and references to other webpages.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Overview</title>
    <meta charset="UTF-8">
    <meta name="author" content="Austin Stephens" />
    <meta name="description" content="A website for managers of professors" />
    <meta name="keywords" content="University of Utah CS 4540" />
    <link href="~/css/Learning_Outcomes.css" rel="stylesheet">
</head>
<body>
    <!-- The top red box of the webpage https://getbootstrap.com/docs/4.0/components/jumbotron/-->
    <div class="jumbotron text-center" id="jumbotronStyle">
        <ul class="list-inline">
            <li class="list-inline-item"><h2>Department Overview</h2></li>
        </ul>
    </div>
    <div class="NoMargin">
        <!-- This is the main body of the webpage. This the status bars for the admin to see of the classes conatains
    progress bars which can be found here https://getbootstrap.com/docs/4.3/components/progress/ -->
        <h2>Courses</h2>
        <div class="row justify-content-center">

            <div class="col-sm-1 text-right">
                <p>Filter by:</p>
            </div>
            <!----https://www.w3schools.com/howto/howto_custom_select.asp---->
            <select class="custom-select col-sm-2">
                <option value="start">Select Progress</option>
                <option value="most to least">Most Complete - Least Complete</option>
                <option value="least to most">Least Complete - Most Complete</option>
                <option value="100">100% Complete</option>
                <option value="75-99">75%-99% Complete</option>
                <option value="50-74">50%-74% Complete</option>
                <option value="25-49">25%-49% Complete</option>
                <option value="0-24">0%-24% Complete</option>
            </select>


            <select class="custom-select col-sm-2">
                <option value="start">Select Teacher</option>
                <option value="alphabetical">Alphabetical</option>
                <option value="name 1">Example Name 1</option>
                <option value="name 2">Exampl Name 2</option>
                <option value="name 3">Example Name 3</option>

            </select>

            <select class="custom-select col-sm-2">
                <option value="start">Select Courses</option>
                <option value="all">All Courses</option>
                <option value="low to high">Low Course Number - High Course Number</option>
                <option value="high to low">High Course Number - Low Course Number</option>
                <option value="">Upper Division Only</option>
                <option value="">Course number 1000-2000</option>
                <option value="">Course number 2000-3000</option>
                <option value="">Course number 3000-4000</option>
                <option value="">Course number 4000-5000</option>
                <option value="">Course number 5000-6000</option>
                <option value="">Course number 6000+</option>
            </select>
            <div class="btns">
                <button type="button" class="hello btn btn-success btn-sm">Apply</button>
            </div>

            <div class="btns">
                <button type="button" class="btn btn-secondary btn-sm">Clear</button>
            </div>

        </div>
        <div id="searchbar">
            <!----Search Bar code from https://mdbootstrap.com/docs/jquery/forms/search/----->
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="input-group md-form form-sm form-1 pl-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text purple lighten-3" id="basic-text1">
                                <i class="fas fa-search text-white"
                                   aria-hidden="true"></i>
                            </span>
                        </div>
                        <input class="form-control my-0 py-1" type="text" placeholder="Search by course number, professor, etc." aria-label="Search">
                    </div>
                </div>

            </div>
        </div>

        <!----------Get each of the classes in the database and fill up the information on the webpage---------->
        @foreach (var item in Model)
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" colspan="5" class="text-center">
                            <a role="button" class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Course" asp-route-id="@item.CourseId">
                                Go to class(Razor)
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Department</th>
                        <th scope="row">Course Number</th>
                        <th>Description</th>
                        <th>Semester</th>
                        <th>Year</th>
                    </tr>
                    <!--Dynamically load the table with information-->
                    <tr>
                        <td>@item.Department</td>
                        <td>@item.CourseNumber</td>
                        <td>@item.Description</td>
                        <td>@item.Semester</td>
                        <td>@item.Year</td>
                    </tr>
                    <tr>
                        <th scope="col" colspan="5" class="text-center">
                            <div class="progress">
                                @{ Random rand = new Random();
                                    int completion = rand.Next(100) + 1;}
                                <div class="progress-bar" role="progressbar" style="width: @completion%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Learning Outcome Progress @completion % </div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="row justify-content-middle">

                <div class="col-4">
                    <a role="button" class="btn btn-primary mx-auto" asp-area="" asp-controller="Course" asp-action="Delete" asp-route-id="@item.CourseId">Delete a class</a>
                </div>
                <div class="col-4">
                    <a role="button" class="btn btn-primary mx-auto" asp-area="" asp-controller="Course" asp-action="Edit" asp-route-id="@item.CourseId">Edit a class</a>
                </div>
                <div class="col-4">
                    <a role="button" class="btn btn-primary mx-auto" asp-area="" asp-controller="Course" asp-action="Details" asp-route-id="@item.CourseId">View a class</a>
                </div>
            </div>
            <p></p>

            <p></p>
            <div class="row justify-content-end">
                <div class="col-4">
                    <a role="button" class="btn btn-success btn-lg " asp-area="" asp-controller="Home" asp-action="Course" asp-route-id="@item.CourseId">Add a new class</a>
                </div>
            </div>
        }

    </div>

</body>
</html>