@model IEnumerable<Assignment3.Models.Course>

@{
    ViewData["Title"] = "Department Page";
}
<!--
    Author:    [Austin Stephens]
    Partner:   [None]
    Date:      [08/26/2019]
    Course:    CS 4540, University of Utah, School of Computing
    Copyright: CS 4540 and [Austin Stephens] - This work may not be copied for use in Academic Coursework.


    I, Austin Stephens, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

    A website used to update the learning outcomes of teachers.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Overview</title>
    <meta charset="UTF-8">
    <meta name="author" content="Austin Stephens" />
    <meta name="description" content="A website for managers of professors" />
    <meta name="keywords" content="University of Utah CS 4540" />
    <link href="~/css/Learning_Outcomes.css" rel="stylesheet">
</head>
<body>
    <!-- The top red box of the webpage https://getbootstrap.com/docs/4.0/components/jumbotron/-->
    <div class="jumbotron text-center" id="jumbotronStyle">
        <ul class="list-inline">
            <li class="list-inline-item"><h2>Department Overview</h2></li>
        </ul>
    </div>
    <div class="NoMargin">
        <!-- This is the main body of the webpage. This the status bars for the admin to see of the classes conatains
        progress bars which can be found here https://getbootstrap.com/docs/4.3/components/progress/ -->
        <h2>Courses</h2>
        <div class="row justify-content-center">

            <div class="col-sm-1 text-right">
                <p>Filter by:</p>
            </div>
            <!----https://www.w3schools.com/howto/howto_custom_select.asp---->
            <select class="custom-select col-sm-2">
                <option value="start">Select Progress</option>
                <option value="most to least">Most Complete - Least Complete</option>
                <option value="least to most">Least Complete - Most Complete</option>
            </select>

            <select class="custom-select col-sm-2">
                <option value="start">Select Courses</option>
                <option value="all">All Courses</option>
                <option value="low to high">Low Course Number - High Course Number</option>
                <option value="high to low">High Course Number - Low Course Number</option>
                <option value="">Upper Division Only</option>
            </select>
            <div class="btns">
                <button type="button" class="hello btn btn-success btn-md">Apply</button>
            </div>

            <div class="btns">
                <button type="button" class="btn btn-secondary btn-md">Clear</button>
            </div>

        </div>

        <!----------Get each of the classes in the database and fill up the information on the webpage---------->
        @foreach (var item in Model)
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" colspan="6" class="text-center">
                            <a role="button" class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Course" asp-route-id="@item.CourseId">
                                Go to class
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <th>Department</th>
                        <th scope="row">Course</th>
                        <th>Description</th>
                        <th>Semester</th>
                        <th>Year</th>
                    </tr>
                    <!--Dynamically load the table with information-->
                    <tr>
                        
                        <td>@item.Department</td>
                        <td>@item.CourseNumber - @item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Semester</td>
                        <td>@item.Year</td>
                    </tr>
                    <tr>
                        <th scope="col" colspan="5" class="text-center">
                            <div class="progress">
                                @{ Random rand = new Random();
                                    int completion = rand.Next(100) + 1;}
                                <div class="progress-bar" role="progressbar" style="width: @completion%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Learning Outcome Progress @completion % </div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="row justify-content-middle">

                <div class="col-4">
                    <a role="button" class="btn btn-primary mx-auto" asp-area="" asp-controller="Course" asp-action="Delete" asp-route-id="@item.CourseId">Delete a class</a>
                </div>
                <div class="col-4">
                    <a role="button" class="btn btn-primary mx-auto" asp-area="" asp-controller="Course" asp-action="Edit" asp-route-id="@item.CourseId">Edit a class</a>
                </div>
                <div class="col-4">
                    <a role="button" class="btn btn-primary mx-auto" asp-area="" asp-controller="Course" asp-action="Details" asp-route-id="@item.CourseId">View a class</a>
                </div>
            </div>
            <p></p>

            <p></p>
            <div class="row justify-content-end">
                <div class="col-4">
                    <a role="button" class="btn btn-success btn-lg " asp-area="" asp-controller="Home" asp-action="EditCourse" asp-route-id="@item.CourseId">Edit Learning Outcomes</a>
                </div>
            </div>
        }

    </div>

</body>
</html>